body {
  background-color: white;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  font-family: 'Arial','Microsoft YaHei', serif; }
  body a {
    text-decoration: none; }
  body ul {
    list-style: none;
    margin: 0;
    padding: 0; }

header .header-banner {
  background: url(../images/header-banner.png);
  background-size: cover;
  position: relative;
  padding-bottom: 20px; }
header .top-menu {
  padding-top: 2.2em; }
  header .top-menu ul li {
    text-align: center;
    width: 23.5%;
    display: inline-block; }
    header .top-menu ul li a {
      color: #FFFFFF;
      text-decoration: none;
      font-size: 15px;
      display: block;
      padding: 0.5em 1em;
      font-weight: 700; }
    header .top-menu ul li a:hover {
      background-color: #FFD670; }
  @media (max-width: 500px) {
    header .top-menu ul .scrool {
      font-size: 12px; } }
header .header-banner-info {
  padding-top: 12em;
  position: relative; }
  header .header-banner-info img {
    vertical-align: middle;
    border: 0; }
  header .header-banner-info h3 {
    color: #fff;
    font-size: 3em;
    font-weight: 300;
    margin: 1em 0 0.3em 0; }
  header .header-banner-info h1 {
    font-size: 4em;
    font-weight: 300;
    color: #fff; }
    header .header-banner-info h1 span {
      font-weight: 700; }
  header .header-banner-info p {
    font-weight: 300;
    color: #FFFFFF;
    font-size: 1.5em;
    margin: 1.2em 0 1.6em 0; }
  @media (max-width: 992px) {
    header .header-banner-info h3 {
      font-size: 2.5em; }
    header .header-banner-info h1 {
      font-size: 3.5em; }
    header .header-banner-info p {
      font-size: 1.3em; } }
  @media (max-width: 768px) {
    header .header-banner-info h3 {
      font-size: 2em; }
    header .header-banner-info h1 {
      font-size: 3em; }
    header .header-banner-info p {
      font-size: 1em; } }
  @media (max-width: 500px) {
    header .header-banner-info h3 {
      font-size: 1.5em; }
    header .header-banner-info h1 {
      font-size: 2em; }
    header .header-banner-info p {
      font-size: 0.8em; } }
  header .header-banner-info .social-icons .line-left {
    left: 0;
    top: 50%; }
  header .header-banner-info .social-icons li {
    width: 80px;
    display: inline-block; }
    header .header-banner-info .social-icons li a {
      display: inline-block;
      width: 61px;
      height: 60px;
      background-image: url(../images/socila-icons.png); }
    header .header-banner-info .social-icons li .qq {
      background-position: -10px -89px; }
    header .header-banner-info .social-icons li .wx {
      background-position: -89px -10px; }
    header .header-banner-info .social-icons li .email {
      background-position: -10px -10px; }
  header .header-banner-info .details {
    padding-top: 8em; }
    header .header-banner-info .details li {
      display: inline-block;
      font-weight: 400;
      color: #fff;
      font-size: 17px;
      letter-spacing: 3px;
      margin-left: 30px;
      margin-right: 30px; }
      header .header-banner-info .details li span {
        font-weight: 700;
        color: #FFD670;
        font-size: 17px; }
    @media (max-width: 992px) {
      header .header-banner-info .details li {
        display: block;
        margin-bottom: 10px; } }
    @media (max-width: 500px) {
      header .header-banner-info .details li {
        font-size: 12px; }
        header .header-banner-info .details li span {
          font-size: 12px; } }
  @media (max-width: 500px) {
    header .header-banner-info .details {
      padding-top: 5em; } }
@media (max-width: 500px) {
  header .header-banner-info {
    padding-top: 8em; } }

main .about-section {
  background-color: #006db5;
  padding-top: 3em; }
  main .about-section .wrap {
    padding-bottom: 2em; }
  main .about-section .about-section-head {
    margin-bottom: 4em;
    position: relative; }
    main .about-section .about-section-head img {
      border: 0;
      vertical-align: middle; }
    main .about-section .about-section-head h3 {
      color: #FFFFFF;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 2.3em; }
    main .about-section .about-section-head label {
      height: 3px;
      width: 5%;
      background: #027ccc;
      display: block;
      position: absolute;
      right: 47.5%;
      top: 180px;
      margin: -10px 0; }
    main .about-section .about-section-head p {
      color: #72bef0;
      font-weight: 300;
      font-size: 1.2em;
      margin-top: 1.35em;
      text-transform: uppercase; }
  main .about-section .about-section-grids .about-section-grid1 h4 {
    color: #fff;
    font-weight: 700;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 1.5em; }
  main .about-section .about-section-grids .about-section-grid1 p {
    color: #91c7ea;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6em;
    margin-bottom: 1em;
    word-spacing: 2px; }
  main .about-section .about-section-grids .about-section-grid2 {
    margin-top: 3em; }
    main .about-section .about-section-grids .about-section-grid2 img {
      padding: 2.4em;
      border-radius: 50%;
      width: 73%;
      border: 5px solid #FFD670; }
  main .about-section .about-section-grids .about-section-grid3 h4 {
    color: #fff;
    font-weight: 700;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 1.5em; }
  main .about-section .about-section-grids .about-section-grid3 .meter {
    position: relative;
    margin: 0px 0 15px 0;
    background: #91c7ea;
    height: 35px; }
    main .about-section .about-section-grids .about-section-grid3 .meter div {
      background-color: #FFD670;
      display: inline-block;
      height: 35px;
      padding-left: 10px;
      padding-right: 10px;
      color: #fff;
      font-size: 0.9em;
      font-weight: 600;
      line-height: 35px;
      position: relative;
      text-align: left; }
      main .about-section .about-section-grids .about-section-grid3 .meter div span {
        float: right;
        color: #91c7ea; }
    main .about-section .about-section-grids .about-section-grid3 .meter .ht {
      width: 90%; }
    main .about-section .about-section-grids .about-section-grid3 .meter .css {
      width: 90%; }
    main .about-section .about-section-grids .about-section-grid3 .meter .js {
      width: 70%; }
    main .about-section .about-section-grids .about-section-grid3 .meter .ps {
      width: 80%; }
    main .about-section .about-section-grids .about-section-grid3 .meter .java {
      width: 40%; }
  @media (max-width: 550px) {
    main .about-section .about-section-grids .about-section-grid2 {
      width: 100%; }
    main .about-section .about-section-grids .about-section-grid3 {
      width: 100%; } }
  @media (min-width: 768px) {
    main .about-section .wrap {
      width: 750px; } }
  @media (min-width: 992px) {
    main .about-section .wrap {
      width: 970px; } }
  @media (min-width: 1200px) {
    main .about-section .wrap {
      width: 1170px; } }
main .portfolio-section {
  background-color: #FFD670;
  padding-top: 3em; }
  main .portfolio-section h2 {
    font-size: 2em;
    color: #fff;
    text-align: center; }
  main .portfolio-section #task1 img {
    width: 200px;
    height: 400px; }

/*# sourceMappingURL=index.css.map */
