.head{
    width: 60%;
    height: 180px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px  solid lightgray;

}
.head .left{
    width: 140px;
    height: 140px;
    margin-top: 20px;
    margin-left: 20px;
    background: url(../images/20150531220445_Fifsw.thumb.700_0.jpeg);
    background-size: 100% 100%;
    border-radius: 5px;
    float: left;
    
}
.head .right{
    width: 47%;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}
.head .right .name{
    width: 100%;
    height: 30px;
    margin-top: 15px;
    font-size: 25px;
    font-weight: 600;
    color: gray;
}
.head .right .introduction{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    font-size: 15px;
}
.head .right .sns{
    width: 80%;
    height: 30px;
    margin-top: 30px;
  
}
.head .right .sns a{
    text-decoration: none;
    color: #1db8fa; 
}
.clearfix::after{
    visibility: hidden;
    content: "·";
    clear: both;
    display: block;
    height: 0;
}
.main{
    width: 90%;
    background-color: white;

}